<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.coupon.dao.mapper.CouponMemberMapper">
	<resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.CouponMember">
        <result column="coupon_id" property="couponId" jdbcType="VARCHAR"/>
        <result column="coupon_member_id" property="couponMemberId" jdbcType="VARCHAR"/>
        <result column="coupon_isused" property="couponIsUser" jdbcType="INTEGER"/>
    </resultMap>
    
    <resultMap id="BaseResultMap1" type="com.leimingtech.core.entity.base.CouponMember">
        <result column="coupon_id" property="couponId" jdbcType="VARCHAR"/>
        <result column="coupon_title" property="couponTitle" jdbcType="VARCHAR"/>
        <result column="coupon_type" property="couponType" jdbcType="VARCHAR"/>
        <result column="coupon_pic" property="couponPic" jdbcType="VARCHAR"/>
        <result column="coupon_desc" property="couponDesc" jdbcType="VARCHAR"/>

        <result column="start_time" property="startTime" jdbcType="BIGINT"/>
        <result column="end_time" property="endTime" jdbcType="BIGINT"/>
        <result column="coupon_price" property="couponPrice" jdbcType="DECIMAL"/>
        <result column="coupon_limit" property="couponLimit" jdbcType="DECIMAL"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        
        <result column="coupon_state" property="couponState" jdbcType="INTEGER"/>
        <result column="coupon_storage" property="couponstorage" jdbcType="INTEGER"/>
        <result column="coupon_usage" property="couponusage" jdbcType="INTEGER"/>
        <result column="coupon_lock" property="couponIock" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        
        <result column="coupon_goods_class_id" property="couponGoodsClassId" jdbcType="VARCHAR"/>
        <result column="coupon_class_id" property="couponClassId" jdbcType="VARCHAR"/>
        <result column="coupon_click" property="coupClick" jdbcType="VARCHAR"/>
        <result column="coupon_print_style" property="couponPrintStyle" jdbcType="VARCHAR"/>
        <result column="coupon_recommend" property="couponRecommend" jdbcType="INTEGER"/>
        <result column="coupon_allowstate" property="couponAllowState" jdbcType="INTEGER"/>
        <result column="coupon_allowremark" property="couponAllowmark" jdbcType="VARCHAR"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="couponTypeName" property="couponTypeName" jdbcType="VARCHAR"/>
        
        <result column="coupon_member_id" property="couponMemberId" jdbcType="VARCHAR"/>
        <result column="coupon_isused" property="couponIsUser" jdbcType="INTEGER"/>
        <result column="store_label" property="storeLabel" jdbcType="VARCHAR"/>
		<result column="gc_name" property="gcName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        coupon_id,coupon_member_id,coupon_isused
    </sql>
    
    <!-- 保存 -->
    <insert id="saveCouponMember" parameterType="com.leimingtech.core.entity.base.CouponMember" >
    	insert into shop_coupon_member ( 
		    coupon_id,coupon_member_id,coupon_isused
	    )
	    values(
		    #{couponId}, #{couponMemberId}, #{couponIsUser}
	    )
    </insert>
    
    <!-- 获取优惠券已领数量 -->
    <select id="getCouponMemberCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from shop_coupon_member a where coupon_id = #{couponId}
	</select>
	
	<!-- 获取会员所拥有的优惠券 -->
    <select id="getCouponListByMemberIdAndStoreId" resultMap="BaseResultMap1" parameterType="com.leimingtech.core.entity.searchbean.CouponSearch">
		select b.coupon_member_id, b.coupon_isused, a.*, c.store_label, d.gc_name from shop_coupon a
		left join shop_coupon_member b on b.coupon_id = a.coupon_id
		left join shop_store c on a.store_id = c.store_id
		LEFT JOIN shop_goods_class d ON d.gc_id = a.coupon_goods_class_id
		where b.coupon_member_id = #{memberId}
		<if test="storeId != null and storeId != '' ">
	   		and a.store_id = #{storeId}
	   	</if>
	   	<if test="couponIsUser != null">
	   		and b.coupon_isused = #{couponIsUser}
	   	</if>
	   	<if test="time != null">
	   		and a.end_time &lt; #{time}
	   	</if>
	   	<if test="couponId != null and couponId != '' ">
	   		and a.coupon_id = #{couponId}
	   	</if>
		ORDER  BY a.create_time DESC
	   	
	</select>
	
	<!-- 优惠券列表,通过用户id，店铺和商品列表 -->
	<select id="findCouponsByConditions" resultMap="BaseResultMap1">
		select * from shop_coupon a
		join shop_coupon_member b on a.coupon_id=b.coupon_id
		where 1 = 1 
		<if test="memberId != null and memberId != '' ">
			and b.coupon_member_id=#{memberId}
		</if>
		<if test="storeIds != null and storeIds != '' ">
			and a.store_id in (${storeIds})
		</if>
		<if test="goodsClassIds != null and goodsClassIds != '' ">
			and a.coupon_goods_class_id in (${goodsClassIds})
		</if>
		ORDER  BY b.create_time DESC
	</select>
	
	<!-- 获取优惠券列表 -->
	<select id="findCouponMemberByConditions" resultMap="BaseResultMap1" parameterType="com.leimingtech.core.entity.searchbean.CouponMemberSearch">
		select a.*,b.* from shop_coupon a join shop_coupon_member b on a.coupon_id=b.coupon_id
		where 1 = 1 
		<if test="memberId != null and memberId != '' ">
			and b.coupon_member_id=#{memberId}
		</if>
		<if test="storeIds != null and storeIds != '' ">
			and a.store_id in (${storeIds})
		</if>
		<if test="goodsClassIds != null and goodsClassIds != '' ">
			and a.coupon_goods_class_id in (${goodsClassIds})
		</if>
		<if test="searchTime != null">
			and a.start_time &lt;= #{searchTime} and a.end_time &gt;= #{searchTime}
		</if>
		ORDER  BY a.create_time DESC
	</select>
	
	<!-- 修改优惠修改是否已经使用 -->
	<update id="updateCouponMember" parameterType="com.leimingtech.core.entity.base.CouponMember">
		update shop_coupon_member 
		<set>
			coupon_isused = #{couponIsUser}
		</set>
		where coupon_id = #{couponId} and coupon_member_id = #{couponMemberId}
	</update>
</mapper>