<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.website.dao.mapper.ArticleClassMapper">
    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.ArticleClass" >
        <id column="ac_id" property="acId" jdbcType="VARCHAR" />
        <result column="ac_code" property="acCode" jdbcType="VARCHAR" />
        <result column="ac_name" property="acName" jdbcType="VARCHAR" />
        <result column="ac_parent_id" property="acParentId" jdbcType="VARCHAR" />
        <result column="ac_sort" property="acSort" jdbcType="INTEGER" />
        <result column="ac_status" property="acStatus" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="static_url" property="staticUrl" jdbcType="VARCHAR" />
        <result column="dynameic_url" property="dynameicUrl" jdbcType="VARCHAR" />
        <result column="real_url" property="realUrl" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.leimingtech.core.entity.ArticleClassVo" >
        <id column="ac_id" property="acId" jdbcType="VARCHAR" />
        <result column="ac_name" property="acName" jdbcType="VARCHAR" />
        <result column="ac_status" property="acStatus" jdbcType="INTEGER" />
        <result column="has_child" property="hasChildren" jdbcType="INTEGER" />
        <result column="ac_sort" property="acSort" jdbcType="INTEGER" />
        <result column="ac_code" property="acCode" jdbcType="VARCHAR" />
        <result column="static_url" property="staticUrl" jdbcType="VARCHAR" />
        <result column="dynameic_url" property="dynameicUrl" jdbcType="VARCHAR" />
        <result column="real_url" property="realUrl" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.leimingtech.core.entity.ArticleClass" >
        <id column="ac_id" property="acId" jdbcType="VARCHAR" />
        <result column="ac_code" property="acCode" jdbcType="VARCHAR" />
        <result column="ac_name" property="acName" jdbcType="VARCHAR" />
        <result column="ac_parent_id" property="acParentId" jdbcType="VARCHAR" />
        <result column="ac_sort" property="acSort" jdbcType="INTEGER" />
        <result column="ac_status" property="acStatus" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="static_url" property="staticUrl" jdbcType="VARCHAR" />
        <result column="dynameic_url" property="dynameicUrl" jdbcType="VARCHAR" />
        <result column="real_url" property="realUrl" jdbcType="VARCHAR" />
        <collection property="articleClassList" ofType="com.leimingtech.core.entity.base.Article"
                    column="ac_id" javaType="arraylist"
                    select="com.leimingtech.service.module.website.dao.mapper.ArticleClassMapper.findChildren1">
        </collection>
    </resultMap>

    <resultMap id="BaseResultMap3" type="com.leimingtech.core.entity.ArticleVo" >
        <id column="ac_id" property="acId" jdbcType="VARCHAR" />
        <result column="ac_code" property="acCode" jdbcType="VARCHAR" />
        <result column="ac_name" property="acName" jdbcType="VARCHAR" />
        <result column="ac_parent_id" property="acParentId" jdbcType="VARCHAR" />
        <result column="ac_sort" property="acSort" jdbcType="INTEGER" />
        <result column="ac_status" property="acStatus" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="static_url" property="staticUrl" jdbcType="VARCHAR" />
        <result column="dynameic_url" property="dynameicUrl" jdbcType="VARCHAR" />
        <result column="real_url" property="realUrl" jdbcType="VARCHAR" />
        <collection property="articleClassList" ofType="com.leimingtech.core.entity.ArticleClass"
                    column="ac_id" javaType="arraylist"
                    select="com.leimingtech.service.module.website.dao.mapper.ArticleClassMapper.findChildren">
        </collection>
        <collection property="articleList" ofType="com.leimingtech.core.entity.base.Article"
                    column="ac_id" javaType="arraylist"
                    select="com.leimingtech.service.module.website.dao.mapper.ArticleMapper.findArticleByClassId">
        </collection>
    </resultMap>
    
    <resultMap id="BaseResultMapVo" type="com.leimingtech.core.entity.ArticleClassVo">
        <result column="ac_id" property="acId" jdbcType="VARCHAR"/>
        <result column="ac_code" property="acCode" jdbcType="VARCHAR"/>
        <result column="ac_name" property="acName" jdbcType="VARCHAR"/>
        <result column="ac_parent_id" property="acParentId" jdbcType="VARCHAR"/>
        <result column="ac_sort" property="acSort" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="VARCHAR"/>
        <result column="article_url" property="articleUrl" jdbcType="VARCHAR"/>
        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        <result column="article_content" property="articleContent" jdbcType="VARCHAR"/>
        <result column="static_url" property="staticUrl" jdbcType="VARCHAR" />
        <result column="dynameic_url" property="dynameicUrl" jdbcType="VARCHAR" />
        <result column="real_url" property="realUrl" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        ac_id, ac_code, ac_name, ac_parent_id, ac_sort, ac_status,is_del,create_time,update_time,dynameic_url,static_url,real_url
    </sql>
    <sql id="Base_Column_List1" >
        ac_id,  ac_name,  ac_status,ac_sort,ac_code
    </sql>
    
    <insert id="save" parameterType="com.leimingtech.core.entity.ArticleClass">
        INSERT INTO shop_article_class(ac_id,ac_code,ac_name,ac_parent_id,ac_sort,ac_status,is_del,create_time)
        VALUES(#{acId},#{acCode},#{acName},#{acParentId},#{acSort},#{acStatus},0,#{createTime})
    </insert>
    
    <update id="update" parameterType="com.leimingtech.core.entity.ArticleClass">
        update shop_article_class
        <set>
            <if test="acCode != null and acCode !=''">
                ac_code = #{acCode},
            </if>
            <if test="acName != null and acName !=''">
                ac_name = #{acName},
            </if>
            <if test="acParentId != null and acParentId != ''">
                ac_parent_id = #{acParentId},
            </if>
            <if test="acSort != null">
                ac_sort = #{acSort},
            </if>
            <if test="acStatus != null and acStatus !=''">
                ac_status = #{acStatus},
            </if>
            <if test="updateTime != null">
                 update_time = #{updateTime},
            </if>
            <if test="dynameicUrl!=null and dynameicUrl!='' ">
                dynameic_url = #{dynameicUrl},
            </if>
            <if test="staticUrl!=null and staticUrl!='' ">
                static_url = #{staticUrl},
            </if>
            <if test="realUrl!=null and realUrl!='' ">
                real_url = #{realUrl}
            </if>
        </set>
        where ac_id=#{acId}
    </update>
    
    <delete id="delete" parameterType="java.lang.String">
        update shop_article_class set is_del = 1 where ac_id=#{id}
    </delete>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from shop_article_class where ac_id=#{id}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_article_class
        where is_del = 0 and ac_parent_id = '0'
        order by ac_sort DESC
    </select>

    <select id="findPageList" resultMap="BaseResultMap1">
        SELECT
        <include refid="Base_Column_List1" />,
        (select count(1) from shop_article_class s1 where s1.ac_parent_id=s.ac_id and s1.is_del = 0 ) has_child
        FROM shop_article_class s
        where is_del = 0 and ac_parent_id = '0' order by ac_sort DESC
    </select>

    <select id="findArticlePageList" resultMap="BaseResultMap"  parameterType="com.leimingtech.service.utils.page.Pager">
        select * FROM shop_article_class where is_del = 0
    </select>

    <select id="findCount" resultType="int">
        select count(*) from shop_article_class where is_del = 0 and ac_parent_id = '0'
    </select>

    <select id="findAllList" resultMap="BaseResultMap2">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_article_class
        where is_del = 0 order by ac_sort DESC
    </select>

	<select id="findChildren" resultMap="BaseResultMap1" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_article_class
        where is_del = 0 and ac_parent_id = #{id} order by ac_sort DESC
    </select>

    <select id="findChildren1" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List1" />
        FROM shop_article_class
        where is_del = 0 and ac_parent_id = #{id} order by ac_sort DESC
    </select>

    <select id="duplicate" resultType="int" parameterType="com.leimingtech.core.entity.ArticleClass">
        SELECT count(1) from shop_article_class
        where is_del = 0
        <if test="acName != null and acName !=''">
            and ac_name = #{acName}
        </if>
        <if test="acId != null and acId != ''">
            and ac_id != #{acId}
        </if>
        <if test="acParentId != null and acParentId != ''">
            and ac_parent_id = #{acParentId}
        </if>
    </select>
    
    <select id="findArticleList" resultMap="BaseResultMapVo" parameterType="com.leimingtech.core.entity.ArticleClassVo">
        SELECT
        shop_article_class.ac_id,
        shop_article_class.ac_code,
        shop_article_class.ac_parent_id,
        shop_article_class.ac_sort,
        shop_article_class.ac_name,
        shop_article.article_title,
        shop_article.article_id,
        shop_article.article_content,
        shop_article.article_url
        FROM shop_article_class, shop_article
        where shop_article_class.ac_id = shop_article.ac_id
        and shop_article_class.is_del = 0
        and shop_article.is_del = 0
        and shop_article.article_show = 1
        	and shop_article_class.ac_code is not null
        <if test="articleId != '' and articleId != null">
            and shop_article.article_id = #{articleId}
        </if>
        order by shop_article_class.ac_sort desc
    </select>
    
    <select id="finfArticleClassAndArticleList" resultMap="BaseResultMap3" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_article_class
        WHERE 1=1 and is_del=0
        <if test="acId != null and acId != ''">
          and ac_parent_id = #{acId}
        </if>

        ORDER BY ac_sort
    </select>
</mapper>