<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.website.dao.mapper.NavigationMapper">
    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.Navigation">
        <id column="nav_id" property="navId" jdbcType="VARCHAR"/>
        <result column="nav_type" property="navType" jdbcType="VARCHAR"/>
        <result column="nav_title" property="navTitle" jdbcType="VARCHAR"/>
        <result column="nav_url" property="navUrl" jdbcType="VARCHAR"/>
        <result column="nav_location" property="navLocation" jdbcType="INTEGER"/>
        <result column="nav_new_open" property="navNewOpen" jdbcType="VARCHAR"/>
        <result column="nav_sort" property="navSort" jdbcType="VARCHAR"/>
        <result column="item_id" property="navItemId" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        nav_id, nav_type,nav_title, nav_url, nav_location,nav_new_open, nav_sort, item_id,is_del,create_time,update_time
    </sql>

    <insert id="save" parameterType="com.leimingtech.core.entity.base.Navigation">
        INSERT INTO shop_navigation(nav_id,nav_type,nav_title,nav_url,nav_location,nav_new_open,nav_sort,item_id,is_del,create_time)
        VALUES(#{navId},#{navType},#{navTitle},#{navUrl},#{navLocation},#{navNewOpen},#{navSort},#{navItemId},0,#{createTime})
    </insert>
    <update id="update" parameterType="com.leimingtech.core.entity.base.Navigation">
        update shop_navigation set
        nav_type = #{navType},
        nav_title = #{navTitle},
        nav_url = #{navUrl},
        nav_location = #{navLocation},
        nav_new_open = #{navNewOpen},
        nav_sort = #{navSort},
        item_id = #{navItemId},
        update_time = #{updateTime}
        where nav_id=#{navId}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        update shop_navigation set is_del = 1  where nav_id=#{navId}
    </delete>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from shop_navigation where nav_id=#{navId}
    </select>

    <select id="findPageList" resultMap="BaseResultMap" parameterType="com.leimingtech.service.utils.page.Pager">
        SELECT
        <include refid="Base_Column_List"/>
        FROM shop_navigation
        where is_del = 0
        <if test="condition.navTitle !=null and condition.navTitle != ''">
            AND nav_title like
            <if test="dbName == 'oracle'">'%'||#{condition.navTitle}||'%'</if>
            <if test="dbName == 'mssql'">'%'+#{condition.navTitle}+'%'</if>
            <if test="dbName == 'mysql'">concat('%',#{condition.navTitle},'%')</if>
        </if>
        <if test="condition.navLocation != null">
            AND nav_location = #{condition.navLocation}
        </if>
        order by nav_sort desc
    </select>

    <select id="findCount" resultType="int" parameterType="com.leimingtech.core.entity.base.Navigation">
        select count(*) from shop_navigation where is_del = 0
        <if test="navTitle !=null and navTitle != ''">
            AND nav_title like
            <if test="dbName == 'oracle'">'%'||#{navTitle}||'%'</if>
            <if test="dbName == 'mssql'">'%'+#{navTitle}+'%'</if>
            <if test="dbName == 'mysql'">concat('%',#{navTitle},'%')</if>
        </if>
        <if test="navLocation != null">
            AND nav_location = #{navLocation}
        </if>
    </select>

    <select id="findAllList" resultMap="BaseResultMap" parameterType="com.leimingtech.core.entity.base.Navigation">
        select
        <include refid="Base_Column_List"/>
        from shop_navigation
        where is_del = 0
        <if test="navLocation != null">
            AND nav_location = #{navLocation}
        </if>
        <if test="navType != null">
            AND nav_type = #{navType}
        </if>
        <if test="navItemId != null and navItemId != ''">
            AND item_id =#{navItemId}
        </if>
        order by nav_sort desc
    </select>

</mapper>