<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leimingtech.service.module.mansong.dao.mapper.ShopPMansongMapper">
	
	<resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.ShopPMansong">
		<result column="mansong_id" property="mansongId" jdbcType="VARCHAR" />
		<result column="mansong_name" property="mansongName" jdbcType="VARCHAR" />
		<result column="quota_id" property="quotaId" jdbcType="VARCHAR" />
		<result column="start_time" property="startTime" jdbcType="BIGINT" />
		<result column="end_time" property="endTime" jdbcType="BIGINT" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="store_id" property="storeId" jdbcType="VARCHAR" />
		<result column="member_name" property="memberName" jdbcType="VARCHAR" />
		<result column="store_name" property="storeName" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
    
	<sql id="Base_Column_List">
		mansong_id,
		mansong_name,
		quota_id,
		start_time,
		end_time,
		member_id,
		store_id,
		member_name,
		store_name,
		state,
		remark
	</sql>
	
	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition !=null">
				<if test="condition.mansongName != null and condition.mansongName != ''">
				and c.mansong_name like
					<if test="dbName == 'oracle'">'%'||#{condition.mansongName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{condition.mansongName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{condition.mansongName},'%')</if>
				</if>
				<if test="condition.storeName != null and condition.storeName != ''">
				and c.store_name like
					<if test="dbName == 'oracle'">'%'||#{condition.storeName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{condition.storeName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{condition.storeName},'%')</if>
				</if>
				<if test="condition.state != null">
				and c.state = #{condition.state}
				</if>
				<if test="condition.storeId != null">
				and c.store_id = #{condition.storeId}
				</if>
			</if>
		</where>
	</sql>
	
	<select id="findShopPMansongPagerList" resultMap="BaseResultMap"
		parameterType="com.leimingtech.service.utils.page.Pager">
		
		select c.* from shop_p_mansong c
		<include refid="whereStatement" />
		
		order by end_time desc

	</select>
	
	<select id="findShopPMansongAllList" resultMap="BaseResultMap"
		parameterType="com.leimingtech.core.entity.base.ShopPMansong">
		SELECT
		<include refid="Base_Column_List" />
		from shop_p_mansong c
		<if test="orderBy == 0">
			order by mansong_id desc
		</if>
		<if test="orderBy == 1">
			order by mansong_id asc
		</if>
	</select>
	
	<select id="findShopPMansongById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from shop_p_mansong c where mansong_id = #{id}
	</select>
	
	<!-- 通过套餐id获取满就送活动 -->
	<select id="findShopPMansongByQuotaId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from shop_p_mansong c where quota_id = #{id}
	</select>
	
	<delete id="deleteShopPMansongById" parameterType="java.lang.String">
		delete from
		shop_p_mansong where mansong_id = #{id}
	</delete>
	
	<insert id="saveShopPMansong" parameterType="com.leimingtech.core.entity.base.ShopPMansong">
		insert into shop_p_mansong
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="mansongId != null ">
			mansong_id,
			</if>
			<if test="mansongName != null and mansongName != ''">
			mansong_name,
			</if>
			<if test="quotaId != null ">
			quota_id,
			</if>
			<if test="startTime != null ">
			start_time,
			</if>
			<if test="endTime != null ">
			end_time,
			</if>
			<if test="memberId != null ">
			member_id,
			</if>
			<if test="storeId != null ">
			store_id,
			</if>
			<if test="memberName != null and memberName != ''">
			member_name,
			</if>
			<if test="storeName != null and storeName != ''">
			store_name,
			</if>
			<if test="state != null and state != ''">
			state,
			</if>
			<if test="remark != null and remark != ''">
			remark,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="mansongId != null ">
				#{mansongId},
			</if>
			<if test="mansongName != null and mansongName != ''">
				#{mansongName},
			</if>
			<if test="quotaId != null ">
				#{quotaId},
			</if>
			<if test="startTime != null ">
				#{startTime},
			</if>
			<if test="endTime != null ">
				#{endTime},
			</if>
			<if test="memberId != null ">
				#{memberId},
			</if>
			<if test="storeId != null ">
				#{storeId},
			</if>
			<if test="memberName != null and memberName != ''">
				#{memberName},
			</if>
			<if test="storeName != null and storeName != ''">
				#{storeName},
			</if>
			<if test="state != null and state != ''">
				#{state},
			</if>
			<if test="remark != null and remark != ''">
				#{remark},
			</if>
		</trim>

	</insert>
	
	<update id="updateShopPMansong" parameterType="com.leimingtech.core.entity.base.ShopPMansong">

		update shop_p_mansong
		<set>
			<if test="mansongName != null and mansongName != ''">
				mansong_name = #{mansongName},
			</if>
			<if test="startTime != null ">
				start_time = #{startTime},
			</if>
			<if test="endTime != null ">
				end_time = #{endTime},
			</if>
			<if test="memberName != null and memberName != ''">
				member_name = #{memberName},
			</if>
			<if test="storeName != null and storeName != ''">
				store_name = #{storeName},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
		</set>

		WHERE mansong_id = #{mansongId}

	</update>
	
	<!-- 获取一条包含当前时间段的满即送 审核通过的-->
	<select id="findStoreCurrentMansong" resultMap="BaseResultMap">
	  SELECT * from shop_p_mansong where state=2 and store_id=#{storeId} and start_time=
      (select max(start_time) from
      		(select spm.start_time from shop_p_mansong spm where  spm.state=2 and spm.store_id=#{storeId} and spm.start_time &lt; #{endTime} and spm.end_time &gt; #{endTime} )
       spt)
	</select>

	<select id="findByEndTimeCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT COUNT(1) FROM shop_p_mansong WHERE end_time &gt; #{endTime} and store_id = #{storeId}
	</select>
	
</mapper>