<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.adv.dao.mapper.AdvMapper" >
  <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.Adv" >
    <result column="adv_id" property="advId" jdbcType="VARCHAR" />
    <result column="ap_id" property="apId" jdbcType="VARCHAR" />
    <result column="adv_title" property="advTitle" jdbcType="VARCHAR" />
    <result column="adv_url" property="advUrl" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="BIGINT" />
    <result column="start_date" property="startDate" jdbcType="BIGINT" />
    <result column="click_num" property="clickNum" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_allow" property="isAllow" jdbcType="INTEGER" />
    <result column="res_url" property="resUrl" jdbcType="VARCHAR" />
  </resultMap>
  
   <sql id="Base_Column_List">
        adv_id,ap_id,adv_title,adv_url,end_date,start_date,click_num,sort,is_allow,res_url
    </sql>
  
  	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition.advId != null and condition.advId != '' ">
				and a.adv_id = #{condition.advId}
			</if>
			<if test="condition.apId != null and condition.apId != '' ">
				and a.ap_id = #{condition.apId}
			</if>
			<if test="condition.startDate != null and condition.startDate != ''">
				and a.start_date &gt;= #{condition.startDate}
			</if>
			<if test="condition.endDate != null and condition.endDate != ''">
				and a.startDate &lt; #{condition.endDate}
			</if>
			<if test="condition.advTitle != null and condition.advTitle != ''">
				and a.adv_title like
				<if test="dbName == 'oracle'">'%'||#{condition.advTitle}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{condition.advTitle}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{condition.advTitle},'%')</if>
			</if>
		</where>
	</sql>
	
	<sql id="whereStatement2">
		<where>
			1 = 1
			<if test="advId != null and advId != '' ">
				and a.adv_id = #{advId}
			</if>
			<if test="apId != null and apId != '' ">
				and a.ap_id = #{apId}
			</if>
			<if test="startDate != null and startDate != ''">
				and a.start_date &gt;= #{startDate}
			</if>
			<if test="endDate != null and endDate != ''">
				and a.startDate &lt; #{endDate}
			</if>
			<if test="advTitle != null and advTitle != ''">
				and a.adv_title like
				<if test="dbName == 'oracle'">'%'||#{advTitle}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{advTitle}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{advTitle},'%')</if>
			</if>
		</where>
	</sql>

	<select id="findAdvCount" resultType="java.lang.Integer" parameterType="com.leimingtech.core.entity.base.Adv">
		select count(1) from shop_adv a 
       <include refid="whereStatement2" />
	</select>
	
	<select id="findAdvPagerList" resultMap="BaseResultMap" parameterType="com.leimingtech.service.utils.page.Pager">
		 select a.* from shop_adv a
			<include refid="whereStatement" />
		 order by sort
	</select>
	
	<select id="findAllAdv" resultMap="BaseResultMap" parameterType="com.leimingtech.core.entity.base.Adv">
		 SELECT
		 <include refid="Base_Column_List" />
		 from shop_adv 
	</select>
  
   <select id="findAdvById" resultMap="BaseResultMap" parameterType="java.lang.String" >
   		select 
   		<include refid="Base_Column_List" /> 
   		from shop_adv where adv_id = #{advId}
   </select>
  
   <delete id="delete" parameterType="java.lang.String" >
   		delete from shop_adv where adv_id = #{advId}
   </delete>
  
   <insert id="save" parameterType="com.leimingtech.core.entity.base.Adv" >
	    insert into shop_adv (
	   	<if test="advId != null and advId != '' ">
			adv_id,
		</if>
	    <if test="apId != null and apId != '' ">
	    	ap_id, 
	    </if>
	    <if test="advTitle != null and advTitle != '' ">
	    	adv_title, 
	    </if>
	    <if test="advUrl != null and advUrl != '' ">
	    	adv_url, 
	    </if>
	    <if test="endDate != null">
	    	end_date, 
	    </if>
	    <if test="startDate != null">
	    	start_date, 
	    </if>
	    <if test="clickNum != null">
	    	click_num, 
	    </if>
	    <if test="sort != null">
	    	sort, 
	    </if>
	    <if test="isAllow != null">
	    	is_allow, 
	    </if>
	     <if test="resUrl != null and resUrl != '' ">
	    	res_url
	    </if>
	    )
	    values(
	   	<if test="advId != null and advId != '' ">
		    #{advId},
	   	</if>
	    <if test="apId != null and apId != '' ">
	    	#{apId}, 
	    </if>
	    <if test="advTitle != null and advTitle != '' ">
	    	#{advTitle}, 
	    </if>
	    <if test="advUrl != null and advUrl != '' ">
	    	#{advUrl}, 
	    </if>
	    <if test="endDate != null">
	    	#{endDate}, 
	    </if>
	    <if test="startDate != null">
	    	#{startDate}, 
	    </if>
	    <if test="clickNum != null">
	    	#{clickNum}, 
	    </if>
	    <if test="sort != null">
	    	#{sort}, 
	    </if>
	    <if test="isAllow != null">
	    	#{isAllow}, 
	    </if>
	     <if test="resUrl != null and resUrl != '' ">
	    	#{resUrl} 
	    </if>
	    )
   </insert>
  
   <update id="update" parameterType="com.leimingtech.core.entity.base.Adv" >
    update shop_adv 
	    <set> 
		    <if test="apId != null and apId != '' ">
		    	ap_id = #{apId}, 
		    </if>
		    <if test="advTitle != null and advTitle != '' ">
		    	adv_title = #{advTitle}, 
		    </if>
		    <if test="advUrl != null and advUrl != ''">
		    	adv_url = #{advUrl}, 
		    </if>
		    <if test="endDate != null">
		    	end_date = #{endDate},
			</if>
		    <if test="startDate != null">
		    	start_date = #{startDate},
		    </if>
		    <if test="sort != null">
		    	 sort = #{sort},
		    </if>
		    <if test="clickNum != null">
		    	 click_num = #{clickNum},
		    </if>
		   	<if test="resUrl!=null and resUrl != '' ">
		   		res_url = #{resUrl}
		   	</if>
	   	</set>
	   	where adv_id = #{advId}
   </update>
   
   <select id="findAdvByPositionId" resultMap="BaseResultMap" parameterType="map">
	   	select * from shop_adv where (end_date) &gt; #{1} and  ap_id = #{0} ORDER BY sort DESC
   </select>
</mapper>