<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.goods.dao.mapper.DistrictsMapper">
    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.Districts" >
        <id column="gc_id" property="gcId" jdbcType="VARCHAR" />
        <result column="gc_name" property="gcName" jdbcType="VARCHAR" />
        <result column="gc_pic" property="gcpic" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="VARCHAR" />
        <result column="type_name" property="typename" jdbcType="VARCHAR" />
        <result column="gc_parent_id" property="gcParentId" jdbcType="VARCHAR" />
        <result column="gc_sort" property="gcSort" jdbcType="INTEGER" />
        <result column="gc_show" property="gcshow" jdbcType="INTEGER" />
        <result column="gc_title" property="gcTitle" jdbcType="VARCHAR" />
        <result column="gc_keywords" property="gcKeywords" jdbcType="VARCHAR" />
        <result column="gc_description" property="gcDescription" jdbcType="VARCHAR" />
        <result column="gc_idpath" property="gcIdpath" jdbcType="VARCHAR" />
        <result column="has_child" property="hasChild" jdbcType="INTEGER" />
        <result column="expen_scale" property="expenScale" jdbcType="FLOAT" />
        <result column="is_relate" property="isRelate" jdbcType="INTEGER" />
        <collection property="classList" ofType="com.leimingtech.core.entity.Districts"
                    column="gc_id" javaType="arraylist"
                    select="com.leimingtech.service.module.goods.dao.mapper.DistrictsMapper.findChild">
        </collection>
        <collection property="brandList" ofType="com.leimingtech.core.entity.base.Brand" column="gc_id" javaType="arrayList"
                    select="com.leimingtech.service.module.goods.dao.mapper.BrandMapper.findByClassId">
        </collection>
    </resultMap>
    
    <resultMap id="BaseResultMap2" type="com.leimingtech.core.entity.Districts" >
        <id column="gc_id" property="gcId" jdbcType="VARCHAR" />
        <result column="gc_name" property="gcName" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="VARCHAR" />
        <result column="type_name" property="typename" jdbcType="VARCHAR" />
        <result column="gc_parent_id" property="gcParentId" jdbcType="VARCHAR" />
        <result column="gc_sort" property="gcSort" jdbcType="INTEGER" />
        <result column="gc_title" property="gcTitle" jdbcType="VARCHAR" />
        <result column="gc_keywords" property="gcKeywords" jdbcType="VARCHAR" />
        <result column="gc_description" property="gcDescription" jdbcType="VARCHAR" />
        <result column="gc_show" property="gcshow" jdbcType="INTEGER" />
        <result column="gc_pic" property="gcpic" jdbcType="VARCHAR" />
        <result column="gc_idpath" property="gcIdpath" jdbcType="VARCHAR" />
        <result column="has_child" property="hasChild" jdbcType="INTEGER" />
        <result column="expen_scale" property="expenScale" jdbcType="FLOAT" />
        <result column="is_relate" property="isRelate" jdbcType="INTEGER" />
        <collection property="brandList" ofType="com.leimingtech.core.entity.base.Brand" column="gc_id" javaType="arrayList"
                    select="com.leimingtech.service.module.goods.dao.mapper.BrandMapper.findByClassId">
        </collection>
    </resultMap>

    <resultMap id="BaseResultMap3" type="com.leimingtech.core.entity.GoodsClassh5" >
        <id column="gc_id" property="id" jdbcType="VARCHAR" />
        <result column="gc_name" property="name" jdbcType="VARCHAR" />
        <collection property="child" ofType="com.leimingtech.core.entity.GoodsClassh5" column="gc_id" javaType="arraylist"
                    select="com.leimingtech.service.module.goods.dao.mapper.GoodsClassMapper.queryAllChildList"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        gc_id,gc_name,type_id,type_name,gc_parent_id,gc_sort,gc_title,gc_keywords,
        gc_description,gc_show,gc_pic,gc_idpath,expen_scale,is_relate
    </sql>

    <!--保存-->
    <insert id="save" parameterType="com.leimingtech.core.entity.Districts">
        INSERT INTO shop_districts(gc_id, gc_name,type_id,type_name,gc_parent_id,gc_sort,gc_title,gc_keywords,gc_description,gc_show,gc_pic,gc_idpath,expen_scale)
        VALUES(#{gcId}, #{gcName},#{typeId},#{typename},#{gcParentId},#{gcSort},#{gcTitle},#{gcKeywords},#{gcDescription},#{gcshow},#{gcpic},#{gcIdpath},#{expenScale})
    </insert>

    <!--修改-->
    <update id="update" parameterType="com.leimingtech.core.entity.Districts">
        update shop_districts
        <set>
            <if test="gcName != null and gcName != '' ">
                gc_name = #{gcName},
            </if>
            <if test="typeId != null and typeId != ''">
                type_id = #{typeId},
            </if>
            <if test="typename != null and typename != ''">
                type_name = #{typename},
            </if>
            <if test="gcParentId != null  and gcParentId != ''">
                gc_parent_id = #{gcParentId},
            </if>
            <if test="gcSort != '' ">
                gc_sort = #{gcSort},
            </if>
            <if test="gcTitle != null and gcTitle != '' ">
                gc_title = #{gcTitle},
            </if>
            <if test="gcKeywords != null and gcKeywords != '' ">
                gc_keywords = #{gcKeywords},
            </if>
            <if test="gcDescription != null and gcDescription != '' ">
                gc_description = #{gcDescription},
            </if>
            <if test="gcDescription != null and gcDescription != '' ">
                gc_description = #{gcDescription},
            </if>
            <if test="gcshow != null">
                gc_show = #{gcshow},
            </if>
            <if test="gcpic != null and gcpic != '' ">
                gc_pic = #{gcpic},
            </if>
            <if test="gcIdpath != null and gcIdpath != '' ">
                gc_idpath = #{gcIdpath},
            </if>
            <if test="expenScale != null">
                expen_scale = #{expenScale},
            </if>
            <if test="isRelate != null">
                is_relate = #{isRelate}
            </if>
        </set>
        where gc_id=#{gcId}
    </update>
    
    <!--通过父id批量修改子分类的佣金比例-->
    <update id="updatebyparentid" parameterType="com.leimingtech.core.entity.Districts">
        update shop_districts
        <set>
            <if test="expenScale != null">
                expen_scale = #{expenScale}
            </if>
        </set>
        where gc_idpath  like
        <if test="dbName == 'oracle'">''||#{gcIdpath}||'%'</if>
        <if test="dbName == 'mssql'">''+#{gcIdpath}+'%'</if>
        <if test="dbName == 'mysql'">CONCAT('','${gcIdpath}','%')</if>
    </update>

    <!--删除-->
    <delete id="delete" parameterType="java.lang.String">
        delete from shop_districts  where gc_id = #{gcId}
    </delete>

    <!--查找单个类别-->
    <select id="findById" resultMap="BaseResultMap2" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from shop_districts where gc_id = #{gcId}
    </select>

    <!--根据父id查询分类列表-->
    <select id="findList" resultMap="BaseResultMap2" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />,
        (select count(*) from shop_districts s1 where s1.gc_parent_id=s.gc_id) has_child
        FROM shop_districts s
        where  gc_parent_id = #{parentid}
        order by gc_sort
    </select>

    <!--条件查询条数-->
    <select id="findCount" parameterType="com.leimingtech.core.entity.Districts" resultType="int">
        SELECT
        count(*)
        FROM shop_districts
        where  gc_parent_id !='-1'
        <if test="gcName != '' and gcName != null">
            and gc_name = #{gcName}
        </if>
        <if test="gcParentId != null and gcParentId!=''">
            and gc_parent_id = #{gcParentId}
        </if>
        <if test="gcId != null and gcId != ''">
            and gc_id != #{gcId}
        </if>
    </select>

    <!--递归查询所有分类-->
    <select id="findAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />,
		(select count(*) from shop_districts s1 where s1.gc_parent_id=s.gc_id ) has_child
		FROM shop_districts s where gc_parent_id = '0'
		order by gc_sort
	</select>

    <!-- 根据父id查询子 -->
	<select id="findChild" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />,
        (select count(*) from shop_districts s1 where s1.gc_parent_id=s.gc_id ) has_child
        FROM shop_districts s
        where  gc_parent_id = #{gcId} order by gc_sort
    </select>
    
     <!--递归查询所有分类-->
    <select id="findAllbyisshow" resultMap="BaseResultMap" parameterType="com.leimingtech.core.entity.Districts">
		SELECT
		<include refid="Base_Column_List" />,
		(select count(*) from shop_districts s1 where s1.gc_parent_id=s.gc_id and s1.gc_show=#{gcshow}) has_child
		FROM shop_districts s where gc_parent_id ='0' and gc_show=#{gcshow}
		order by gc_sort
	</select>
	
	 <!--根据父id查询分类列表-->
    <select id="findListbyishow" resultMap="BaseResultMap2" parameterType="com.leimingtech.core.entity.Districts">
        SELECT
        <include refid="Base_Column_List" />,
        (select count(*) from shop_districts s1 where s1.gc_parent_id=s.gc_id and s1.gc_show=#{gcshow}) has_child
        FROM shop_districts s
        where  gc_parent_id = #{gcParentId} and gc_show=#{gcshow}
        order by gc_sort
    </select>

    <select id="queryGoodsClass" resultMap="BaseResultMap3">
        SELECT gc_id,gc_name FROM shop_districts
        where gc_parent_id ='0' and gc_show=1
    </select>

    <select id="queryAllChildList" resultMap="BaseResultMap3" parameterType="java.lang.String">
        select gc_id,gc_name
        from shop_districts where gc_parent_id = #{gcId}
    </select>
    
    <select id="queryBottomChildList" resultMap="BaseResultMap2" parameterType="com.leimingtech.core.entity.Districts">
        select
		<include refid="Base_Column_List" />
        FROM shop_districts t 
		WHERE t.gc_id NOT IN (SELECT gc_parent_id  FROM shop_districts td) 
			and t.gc_show = 1
		order by gc_sort
    </select>
</mapper>