<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.goods.dao.mapper.ShopStatGoodsMapper">
    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.ShopStatGoods" >
        <id column="s_id" property="sId" jdbcType="VARCHAR" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
        <result column="member_name" property="memberName" jdbcType="VARCHAR" />
        <result column="member_id" property="memberId" jdbcType="VARCHAR" />
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
        <result column="login_time" property="loginTime" jdbcType="BIGINT" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />
    </resultMap>
    
    <resultMap id="BaseResultMap2" type="com.leimingtech.core.entity.GoodsStatCount" >
        <id column="goodsstatcount" property="goodsStatCount" jdbcType="INTEGER" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="login_time" property="loginTime" jdbcType="VARCHAR" />
    </resultMap>
    <!-- GoodsBuyCount -->
 	<resultMap id="BaseResultMap3" type="com.leimingtech.core.entity.GoodsGeneralCount" >
        <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
        <id column="goodsstatcount" property="num" jdbcType="INTEGER" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="login_time" property="createDate" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        s_id, goods_name, goods_id, member_name, member_id, login_ip, login_time,store_id,province,city,area
    </sql>
    
    <!-- 保存商品浏览记录 -->
    <insert id="save" parameterType="com.leimingtech.core.entity.base.ShopStatGoods" keyProperty="s_id">
        INSERT INTO shop_stat_goods(s_id,goods_name,goods_id,member_name,member_id,login_ip,login_time,store_id,province,city,area)
        VALUES(#{sId},#{goodsName},#{goodsId},#{memberName},#{memberId},#{loginIp},#{loginTime},#{storeId},#{province},#{city},#{area})
    </insert>
    
     <sql id="whereStatement">
		<where>
			1 = 1
	    <if test="condition.storeId != null and condition.storeId!=0" >
            and store_id = #{condition.storeId}
        </if>
        <if test="condition.goodsName !=null and condition.goodsName !='' ">
            AND goods_name like
            <if test="dbName == 'oracle'">'%'||#{condition.goodsName}||'%'</if>
            <if test="dbName == 'mssql'">'%'+#{condition.goodsName}+'%'</if>
            <if test="dbName == 'mysql'">concat('%',#{condition.goodsName},'%')</if>
        </if>
        <if test="condition.goodsId != null and condition.goodsId != ''">
            AND goods_id = #{condition.goodsId}
        </if>
        <if test="condition.memberName != null and condition.memberName!=''">
            AND member_name like
            <if test="dbName == 'oracle'">'%'||#{condition.memberName}||'%'</if>
            <if test="dbName == 'mssql'">'%'+#{condition.memberName}+'%'</if>
            <if test="dbName == 'mysql'">concat('%',#{condition.memberName},'%')</if>
        </if>
        <if test="condition.memberId!= null and condition.memberId!= ''">
            AND member_id != #{condition.memberId}
        </if>
        <if test="condition.loginIp != null and condition.loginIp!=''">
            AND login_ip = #{condition.loginIp}
        </if>
        <if test="condition.storeId!= null and condition.storeId!= ''">
            AND store_id != #{condition.storeId}
        </if>
		</where>
	</sql>
    
    <!-- 删除商品  -->
    <delete id="delete" parameterType="java.lang.String">
        delete from shop_stat_goods where s_id=#{sId}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="com.leimingtech.core.entity.base.Brand">
         
    </update>

    <!--查询条数-->
    <select id="findCount" parameterType="com.leimingtech.service.utils.page.Pager" resultType="int">
        SELECT
        count(*)
        FROM shop_stat_goods
        <include refid="whereStatement" />
    </select>

    <!--查询分页列表-->
    <select id="findPageList" parameterType="com.leimingtech.service.utils.page.Pager" resultMap="BaseResultMap">
        SELECT
         <include refid="Base_Column_List" />
        FROM shop_stat_goods
         <include refid="whereStatement" />
    </select>
    
    <!-- 获取全部数据 -->
    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_stat_goods
    </select>

    <!-- 根据分类id获取 -->
    <select id="findbyIds" resultMap="BaseResultMap" parameterType="com.leimingtech.core.entity.base.ShopStatGoods">
        select
        <include refid="Base_Column_List" />
        from shop_stat_goods where 1=1
        <if test="sId != null and sId!=0">
			and s_id = #{sId}
		</if>
		<if test="goodsId != null and goodsId != ''">
			and goods_id = #{goodsId}
		</if>
		<if test="memberId != null and memberId != ''">
			and member_id = #{memberId}
		</if>
    </select>
    
    <!-- 根据分类id获取 -->
    <select id="findStatbytime" resultMap="BaseResultMap3" parameterType="map">
       
		select goods_id,goods_name,count(goods_id) as goodsstatcount ,
			  <if test="dbName == 'mysql'">
			  	  FROM_UNIXTIME(login_time/1000,#{timesn})
              </if>
              <if test="dbName == 'oracle'">
                  TO_CHAR(TO_DATE('19700101','yyyy:mm:DD')+ login_time/86400000+TO_NUMBER(SUBSTR(TZ_OFFSET(sessiontimezone),1,3))/24 ), 'yyyy-mm-dd')
              </if>
              <if test="dbName == 'mssql'">
                  CONVERT(varchar(${sqltimesn}),DATEADD(S,login_time/1000,'1970-01-01 08:00:00'),120) 
              </if>
              as login_time
		 	  from shop_stat_goods
        where 1=1
        <if test="endtime != null and endtime != '' ">
				and login_time &lt; #{endtime} 
	    </if>
        <if test="starttime != null and starttime != '' ">
				and login_time &gt;= #{starttime} 
	    </if>
        <if test="storeId != null and storeId != ''">
			and store_id = #{storeId}
		</if>
        GROUP BY goods_id,goods_name,
        <if test="dbName == 'mysql'">
        	FROM_UNIXTIME(login_time/1000,#{timesn})
        </if>
        <if test="dbName == 'oracle'">
            TO_CHAR((TO_DATE('19700101','yyyy:mm:DD')+ login_time/86400000+TO_NUMBER(SUBSTR(TZ_OFFSET(sessiontimezone),1,3))/24 ), 'yyyy-mm-dd')
        </if>
        <if test="dbName == 'mssql'">
            CONVERT(varchar(${sqltimesn}),DATEADD(S,login_time/1000,'1970-01-01 08:00:00'),120)
        </if>
    </select>
    
</mapper>