<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.goods.dao.mapper.TypeSpecMapper">

    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.TypeSpec" >
        <id column="type_id" property="typeId" jdbcType="VARCHAR" />
        <result column="sp_id" property="spId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        type_id, sp_id
    </sql>
    <!-- 将List<TypeSpec>插入表 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO shop_type_spec (type_id,sp_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.typeId},#{item.spId})
        </foreach>
    </insert>
	
    <select id="findListByType" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_type_spec
        where  type_id = #{typeId}
    </select>
	
	<!-- 根据id删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from shop_type_spec where type_id = #{typeId}
    </delete>

	<select id="findTypeCountBySpec"  resultType="Integer" parameterType="java.lang.String">
        SELECT
        count(*)
        FROM shop_type_spec
        where sp_id = #{specId}
    </select>
</mapper>