<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leimingtech.service.module.store.dao.mapper.StoreBindClassMapper">

    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.StoreBindClass">
        <result column="bid" property="bid" jdbcType="INTEGER" />
        <result column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="commis_rate" property="commisRate" jdbcType="FLOAT" />
        <result column="class_1" property="class1" jdbcType="INTEGER" />
        <result column="class_2" property="class2" jdbcType="INTEGER" />
        <result column="class_3" property="class3" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        bid,
        store_id,
        commis_rate,
        class_1,
        class_2,
        class_3,
        state,
        is_del
    </sql>

    <sql id="whereStatement">
        <where>
            1 = 1
            <if test="condition !=null">
            </if>
        </where>
    </sql>

    <select id="findStoreBindClassPagerList" resultMap="BaseResultMap"
            parameterType="com.leimingtech.service.utils.page.Pager">

        select * from shop_store_bind_class
        <include refid="whereStatement" />

        <if test="orderBy == 0">
            order by bid desc
        </if>
        <if test="orderBy == 1">
            order by bid asc
        </if>

    </select>

    <select id="findStoreBindClassAllList" resultMap="BaseResultMap"
            parameterType="com.leimingtech.core.entity.base.StoreBindClass">
        SELECT
        <include refid="Base_Column_List" />
        from shop_store_bind_class
        <if test="orderBy == 0">
            order by bid desc
        </if>
        <if test="orderBy == 1">
            order by bid asc
        </if>
    </select>

    <select id="findStoreBindClassByBid" resultMap="BaseResultMap" parameterType="java.lang.Integer">

        select
        <include refid="Base_Column_List" />
        from shop_store_bind_class c where bid = #{bid}

    </select>

    <delete id="deleteStoreBindClassByBid" parameterType="java.lang.Integer">
        delete from
        shop_store_bind_class where bid = #{bid}
    </delete>

    <insert id="saveStoreBindClass" parameterType="com.leimingtech.core.entity.base.StoreBindClass"  useGeneratedKeys="true" keyProperty="bid">

        insert into shop_store_bind_class

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null ">
                store_id,
            </if>
            <if test="commisRate != null ">
                commis_rate,
            </if>
            <if test="class1 != null ">
                class_1,
            </if>
            <if test="class2 != null ">
                class_2,
            </if>
            <if test="class3 != null ">
                class_3,
            </if>
            <if test="state != null ">
                state,
            </if>
            <if test="isDel != null ">
                is_del,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeId != null ">
                #{storeId},
            </if>
            <if test="commisRate != null ">
                #{commisRate},
            </if>
            <if test="class1 != null ">
                #{class1},
            </if>
            <if test="class2 != null ">
                #{class2},
            </if>
            <if test="class3 != null ">
                #{class3},
            </if>
            <if test="state != null ">
                #{state},
            </if>
            <if test="isDel != null ">
                #{isDel},
            </if>
        </trim>

    </insert>

    <update id="updateStoreBindClass" parameterType="com.leimingtech.core.entity.base.StoreBindClass">

        update shop_store_bind_class
        <set>
            <if test="storeId != null ">
                store_id = #{storeId},
            </if>
            <if test="commisRate != null ">
                commis_rate = #{commisRate},
            </if>
            <if test="class1 != null ">
                class_1 = #{class1},
            </if>
            <if test="class2 != null ">
                class_2 = #{class2},
            </if>
            <if test="class3 != null ">
                class_3 = #{class3},
            </if>
            <if test="state != null ">
                state = #{state},
            </if>
            <if test="isDel != null ">
                is_del = #{isDel},
            </if>
        </set>

        WHERE bid = #{bid}

    </update>

</mapper>