<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leimingtech.service.module.store.dao.mapper.TracelogMapper">
    <resultMap id="BaseResultMap" type="com.leimingtech.core.entity.base.TraceLog">
        <result column="strace_id" property="straceId" jdbcType="VARCHAR" />
        <result column="strace_storeid" property="straceStoreid" jdbcType="VARCHAR" />
        <result column="strace_storename" property="straceStorename" jdbcType="VARCHAR" />
        <result column="strace_storelogo" property="straceStorelogo" jdbcType="VARCHAR" />
        <result column="strace_title" property="straceTitle" jdbcType="VARCHAR" />
        <result column="strace_content" property="straceContent" jdbcType="VARCHAR" />
        <result column="strace_time" property="straceTime" jdbcType="VARCHAR" />
        <result column="strace_cool" property="straceCool" jdbcType="INTEGER" />
        <result column="strace_spread" property="straceSpread" jdbcType="INTEGER" />
        <result column="strace_comment" property="straceComment" jdbcType="INTEGER" />
        <result column="strace_type" property="straceType" jdbcType="INTEGER" />
        <result column="strace_goodsdata" property="straceGoodsdata" jdbcType="VARCHAR" />
        <result column="strace_state" property="straceState" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
        strace_id, strace_storeid, strace_storename, strace_storelogo,strace_title,strace_content,strace_time,
        strace_cool,strace_spread,strace_comment,strace_type,strace_goodsdata,strace_state,is_del,create_time,update_time
    </sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			and a.is_del = 0
			<if test="condition.straceStorename != null">
	          	and a.strace_storename like
                <if test="dbName == 'oracle'">'%'||#{condition.straceStorename}||'%'</if>
                <if test="dbName == 'mssql'">'%'+#{condition.straceStorename}+'%'</if>
                <if test="dbName == 'mysql'">concat('%',#{condition.straceStorename},'%')</if>
	        </if>
	        <if test="condition.straceContent != null">
	          	and a.strace_content like
                <if test="dbName == 'oracle'">'%'||#{condition.straceContent}||'%'</if>
                <if test="dbName == 'mssql'">'%'+#{condition.straceContent}+'%'</if>
                <if test="dbName == 'mysql'">concat('%',#{condition.straceContent},'%')</if>
	        </if>
	        <if test="condition.straceType != null">
	          	and a.strace_type = #{condition.straceType, jdbcType=INTEGER}  
	        </if>
	        <if test="condition.starttime != null">
				and create_time &gt;= #{condition.starttime}   
			</if>
			<if test="condition.endtime != null">
				and create_time &lt;= #{condition.endtime} 
			</if>
	        
		</where>
	</sql>
	
	<!--  分页查询count -->
    <select id="countTraceLog" resultType="int" parameterType="com.leimingtech.service.utils.page.Pager">
        select count(1) from  shop_store_sns_tracelog a 
        <include refid="whereStatement" />
    </select>
	
	<!--  分页查询List -->
    <select id="queryTraceLogList" resultMap="BaseResultMap" parameterType="com.leimingtech.service.utils.page.Pager">
        select <include refid="Base_Column_List" /> from shop_store_sns_tracelog a
      	<include refid="whereStatement" />
    </select>
    
    <!--  根据ID删除数据 -->
    <update id="delete" parameterType="java.lang.String">
        update shop_store_sns_tracelog
          set is_del = 1
        where strace_id = #{id,jdbcType=VARCHAR}
    </update>
    
    <!--  根据ID修改状态  -->
    <update id="updateStateById" parameterType="java.lang.String">
        update shop_store_sns_tracelog
          set strace_state = #{state,jdbcType=INTEGER}
        where strace_id = #{id,jdbcType=VARCHAR}
    </update>
    
    <!-- 根据ID查询实体 -->
    <select id="findLogById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from shop_store_sns_tracelog where strace_id = #{id,jdbcType=VARCHAR} and is_del = 0
	</select>

</mapper>